<a href="https://colab.research.google.com/github/otopiachka/markdown-doc/blob/master/Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#-Homework-2-(Topics-5-7:-Groupby,-Merge,-Visualization)" data-toc-modified-id="-Homework-2-(Topics-5-7:-Groupby,-Merge,-Visualization)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><center> Homework 2 (Topics 5-7: Groupby, Merge, Visualization)</center></a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Task-0." data-toc-modified-id="Task-0.-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>Task 0.</a></span></li><li><span><a href="#Task-1." data-toc-modified-id="Task-1.-1.0.0.2"><span class="toc-item-num">1.0.0.2&nbsp;&nbsp;</span>Task 1.</a></span></li><li><span><a href="#Task-2:" data-toc-modified-id="Task-2:-1.0.0.3"><span class="toc-item-num">1.0.0.3&nbsp;&nbsp;</span>Task 2:</a></span></li><li><span><a href="#Task-3:" data-toc-modified-id="Task-3:-1.0.0.4"><span class="toc-item-num">1.0.0.4&nbsp;&nbsp;</span>Task 3:</a></span></li><li><span><a href="#Task-4:" data-toc-modified-id="Task-4:-1.0.0.5"><span class="toc-item-num">1.0.0.5&nbsp;&nbsp;</span>Task 4:</a></span></li><li><span><a href="#Task-5:" data-toc-modified-id="Task-5:-1.0.0.6"><span class="toc-item-num">1.0.0.6&nbsp;&nbsp;</span>Task 5:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.0.0.7"><span class="toc-item-num">1.0.0.7&nbsp;&nbsp;</span>Вопросы:</a></span></li><li><span><a href="#Task-6:" data-toc-modified-id="Task-6:-1.0.0.8"><span class="toc-item-num">1.0.0.8&nbsp;&nbsp;</span>Task 6:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.0.0.9"><span class="toc-item-num">1.0.0.9&nbsp;&nbsp;</span>Вопросы:</a></span></li></ul></li></ul></li></ul></li></ul></div>

# <center> Homework 2 (Topics 5-7: Groupby, Merge, Visualization)

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from google.colab import files
uploaded = files.upload()

Saving gender_train.csv to gender_train.csv
Saving tr_mcc_codes.csv to tr_mcc_codes.csv
Saving tr_types.csv to tr_types.csv
Saving transactions.csv to transactions.csv

KeyboardInterrupt: ignored

Ещё раз (как и в задании 1) считайте в переменные tr_mcc_codes, tr_types, transactions и customers_gender_train. В transactions опять считайте только первые 1000000 строк.

In [3]:
### Type your code here
tr_mcc_codes = pd.read_csv(filepath_or_buffer = 'tr_mcc_codes.csv', sep=';')
tr_types = pd.read_csv(filepath_or_buffer = 'tr_types.csv', sep=';')
transactions = pd.read_csv(filepath_or_buffer = 'transactions.csv', nrows=1000000)
gender_train = pd.read_csv(filepath_or_buffer = 'gender_train.csv')

In [4]:
tr_mcc_codes.head()

   mcc_code                                    mcc_description
0       742                                Ветеринарные услуги
1      1711  Генеральные подрядчики по вентиляции, теплосна...
2      1731                        Подрядчики по электричеству
3      1799  Подрядчики, специализированная торговля — нигд...
4      2741           Разнообразные издательства/печатное дело

In [5]:
tr_types.head()

   tr_type                                     tr_description
0     3200  Плата за предоставление услуг посредством моби...
1     3210  Плата за предоставление отчета по счету карты ...
2     3800  Плата за обслуживание банковской карты (за пер...
3     4000            Плата за получение наличных в Сбербанке
4     4001  Плата за получение наличных в Сбербанке (в дру...

In [ ]:
transactions.head()

   customer_id tr_datetime  mcc_code  tr_type    amount term_id
0     39026145  0 10:23:26      4814     1030  -2245.92     NaN
1     39026145  1 10:19:29      6011     7010  56147.89     NaN
2     39026145  1 10:20:56      4829     2330 -56147.89     NaN
3     39026145  1 10:39:54      5499     1010  -1392.47     NaN
4     39026145  2 15:33:42      5499     1010   -920.83     NaN

In [ ]:
gender_train.head()

   customer_id  gender
0  10928546     1
1  69348468     1
2  61009479     0
3  74045822     0
4  27979606     1

#### Task 0.
Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [6]:
### Type your code here
transactions = transactions.merge(gender_train, how='left')
transactions = transactions.merge(tr_mcc_codes)
transactions = transactions.merge(tr_types)
transactions.head()

   customer_id  ...                  tr_description
0     39026145  ...  Оплата услуги. Банкоматы СБ РФ
1     39026145  ...  Оплата услуги. Банкоматы СБ РФ
2     39026145  ...  Оплата услуги. Банкоматы СБ РФ
3     39026145  ...  Оплата услуги. Банкоматы СБ РФ
4     39026145  ...  Оплата услуги. Банкоматы СБ РФ

[5 rows x 9 columns]

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999584 entries, 0 to 999583
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      999584 non-null  int64
 1   tr_datetime      999584 non-null  object
 2   mcc_code         999584 non-null  int64
 3   tr_type          999584 non-null  int64
 4   amount           999584 non-null  float64
 5   term_id          577482 non-null  object
 6   gender           600086 non-null  float64
 7   mcc_description  999584 non-null  object
 8   tr_description   999584 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 76.3+ MB

#### Task 1.
1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Если в результате для мужчин получились значения [-1,-3,-5], а для женщин [-1,-2,-3],  
то модуль разницы между средними арифметическими -3 и -2 будет равен 1.

(\**) Обратите внимание, что для вычисления модуля разности точных знаний о том,  
какой класc относится к мужчинам, а какой - к женщинам, пока не требуется.

(\***) Округление не нужно производить отдельно по средним тратам женщин и мужчин, а только в самом конце, когда получите значение модуля разницы трат.

In [7]:
tr_spend = transactions[transactions.amount <0]   
tr_spend_1 = tr_spend[tr_spend.gender == 1] 
tr_spend_0 = tr_spend[tr_spend.gender == 0] 
delta = round(abs((tr_spend_1.amount.mean() - tr_spend_0.amount.mean())),2)  
delta

32718.05

#### Task 2:
1. Создайте новый столбец - mcc_code+tr_type, сконкатенировав значения из соответствующих столбцов. (\*)
2. Оставьте только наблюдения с отрицательным значением amount. Посчитайте дисперсию по категориям получившегося столбца mcc_code+tr_type, в которых количество наблюдений >= 10. 
3. Определите отношение максимальной дисперсии к минимальной.

Выведите ответ в виде вещественного числа, округлённого до ближайшего целого в формате "123456" без дробной части.

##### Пояснения:
(\*) Для конкатенации значений в столбцах можно использовать метод .astype(str) для серии и складывать соответствующие серии. Либо же применять apply к строкам датафрейма, прописывая логику преобразования и конкатенации значений внутри.

(\**) Для одновременного подсчета количества наблюдений и дисперсии по категориям можно воспользоваться функцией .agg()

In [ ]:
transactions['mcc_code+tr_type'] = transactions['mcc_code'].astype(str) + transactions['tr_type'].astype(str)
res = (transactions
       .query('amount < 0')
       .groupby('mcc_code+tr_type')
       ['amount']
       .agg(lambda x: x.var()**2 if len(x)>=10 else np.nan).dropna())
ratio = round(res.max() / res.min())
ratio

84099886070340

#### Task 3:
1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 5 транзакций для мужчин и для женщин, наименьших среди всех транзакций по полученным значениям "max_income". (\*)
2. Выделите среди них те, которые встречаются одновременно и у мужчин, и у женщин:
    - 1) Покупка. POS ТУ СБ РФ	
    - 2) Списание после проведения претензионной работы	
    - 3) Плата за получение наличных. Россия
    - 4) Перевод на карту/ с карты через АТМ (со взиманием комиссии с отправителя) по счету в овердрафте<br>	
    - 5) Плата за получение наличных в АТМ. Россия
    - 6) Наличные. Зарубеж. банк
    - 7) Возврат покупки. POS ТУ Россия

##### Пояснения:
(\*) Если максимальные суммы приходов по каким-то типам были равны [1,2,3,4,5,6,7,8], то 5 минимальных из них: [1,2,3,4,5]

In [8]:
tr_max_income = transactions[transactions.amount >0]
max_income_1 = tr_max_income[tr_max_income.gender == 1] 
max_income_0 = tr_max_income[tr_max_income.gender == 0]
max_income_1 = max_income_1.groupby('tr_type')[['amount']].max().tail()
top_list_1 = max_income_1.index.values
max_income_0 = max_income_0.groupby('tr_type')[['amount']].max().tail()
top_list_0 = max_income_0.index.values
max_income = tr_types[tr_types.tr_type.isin(top_list_1)].merge(tr_types[tr_types.tr_type.isin(top_list_0)])
max_income

   tr_type                                     tr_description
0     7070  Перевод на карту (с карты) через Мобильный бан...
1     7071  Перевод на карту (с карты) через Мобильный бан...
2     7074  Перевод с карты на карту в овердрафте через Мо...
3     7075  Перевод с карты на карту в овердрафте через Мо...

#### Task 4:
1. Выделите из поля tr_datetime относительный день tr_day (первое число до точного времени). (\*)
2. Отфильтруйте строки таким образом, чтобы оставить только те транзакции, у которых в соответствующий относительный день tr_day количество уникальных MCC кодов при транзакциях было больше 75 (можно воспользоваться функцией nunique())
3. Сгруппируйте полученный отфильтрованный датафрейм по MCC коду и полу, после чего, пронализировав результат, выберите верные варианты ответов ниже (\**): 
    - 1) gender == 0 - женщины, gender == 1 - мужчины
    - 2) gender == 1 - женщины, gender == 0 - мужчины
    - 3) Абсолютное значение медианы с типом "Флористика" (расходов/приходов) у мужчин выше той же медианы у женщин
    - 4) Абсолютное значение медианы женских трат (расходов/приходов) на ценные бумаги выше мужских
    - 5) Абсолютное значение медианы женских трат (расходов/приходов) в категории "Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков" ниже мужских
    
##### Пояснения:
(\*) Для того, чтобы выделить всё, что стоит до первого пробела, можо использовать строковые методы для датафрейма - .str.split(), например. Либо же реализовывать логику выделения подстроки с помощью метода apply. <br>
(\**) Понять, какой класс к какому типу транзакций (мужские/женские) относится можно, если поизучать типичные для мужчин/женщин категории и сравнить средние/медианы расходов и/или приходов в них.

In [ ]:
transactions[['tr_day','tr_time']] = transactions.tr_datetime.str.split(expand=True)

In [ ]:
transactions[['tr_day','tr_time','mcc_description']]

       tr_day   tr_time                                    mcc_description
0           0  10:23:26  Звонки с использованием телефонов, считывающих...
1           6  07:08:31  Звонки с использованием телефонов, считывающих...
2           8  07:06:10  Звонки с использованием телефонов, считывающих...
3          11  08:49:03  Звонки с использованием телефонов, считывающих...
4          11  14:12:08  Звонки с использованием телефонов, считывающих...
...       ...       ...                                                ...
999579     18  23:38:60                            Авиалинии, авиакомпании
999580    206  19:00:10                            Авиалинии, авиакомпании
999581     90  22:40:57                            Авиалинии, авиакомпании
999582    104  23:39:35                            Авиалинии, авиакомпании
999583    105  23:38:49                            Авиалинии, авиакомпании

[999584 rows x 3 columns]

In [ ]:
len(pd.unique(transactions['mcc_code']))

184

In [ ]:
transactions['tr_day'].astype('int')

0           0
1           6
2           8
3          11
4          11
         ...
999579     18
999580    206
999581     90
999582    104
999583    105
Name: tr_day, Length: 999584, dtype: int32

In [ ]:
mcc_tr_n = transactions.groupby(['tr_day'])['mcc_code'].nunique()
mcc_tr_n[400]

79

In [ ]:
mcc_tr_n[2]

71

In [ ]:
mcc_tr_1 = transactions.groupby('gender')['mcc_code'].nunique()

In [ ]:
mcc_tr_1

gender
0.0    174
1.0    175
Name: mcc_code, dtype: int64

In [ ]:
mcc_tr = transactions.groupby('tr_day')['mcc_code'].transform('size')>75
mcc_tr.shape

(999584,)

In [ ]:
mcc_tr_1 = transactions[['tr_day', 'mcc_description', 'mcc_code', 'amount']]
mcc_tr_1

,tr_day,mcc_description,mcc_code,amount
0,0,"Звонки с использованием телефонов, считывающих...",4814,-2245.92
1,6,"Звонки с использованием телефонов, считывающих...",4814,-5614.79
2,8,"Звонки с использованием телефонов, считывающих...",4814,-1122.96
3,11,"Звонки с использованием телефонов, считывающих...",4814,-2245.92
4,11,"Звонки с использованием телефонов, считывающих...",4814,-2245.92
...,...,...,...,...
999579,18,"Авиалинии, авиакомпании",3000,1297824.89
999580,206,"Авиалинии, авиакомпании",3000,124693.24
999581,90,"Авиалинии, авиакомпании",3000,218976.79
999582,104,"Авиалинии, авиакомпании",3000,408307.49
999583,105,"Авиалинии, авиакомпании",3000,204153.74

In [ ]:
transactions.groupby('tr_day')['mcc_description'].transform('size')>75

0         True
1         True
2         True
3         True
4         True
          ...
999579    True
999580    True
999581    True
999582    True
999583    True
Name: mcc_description, Length: 999584, dtype: bool

In [ ]:
mcc_tr_1

0         True
1         True
2         True
3         True
4         True
          ...
999579    True
999580    True
999581    True
999582    True
999583    True
Name: mcc_code, Length: 999584, dtype: bool

In [ ]:
### Type your code here
s = transactions['tr_datetime'].str.split(' ',expand=True)
s.columns=['tr_day','tr_time']
new_tr = transactions.append(s)
new_tr

        customer_id  tr_datetime  mcc_code  tr_type   amount term_id  gender                                                 mcc_description                  tr_description mcc_code+tr_type tr_day   tr_time
0       39026145.0   0 10:23:26   4814.0    1030.0  -2245.92  NaN     1.0     Звонки с использованием телефонов, считывающих магнитную ленту  Оплата услуги. Банкоматы СБ РФ  48141030         NaN    NaN
1       39026145.0   6 07:08:31   4814.0    1030.0  -5614.79  NaN     1.0     Звонки с использованием телефонов, считывающих магнитную ленту  Оплата услуги. Банкоматы СБ РФ  48141030         NaN    NaN
2       39026145.0   8 07:06:10   4814.0    1030.0  -1122.96  NaN     1.0     Звонки с использованием телефонов, считывающих магнитную ленту  Оплата услуги. Банкоматы СБ РФ  48141030         NaN    NaN
3       39026145.0   11 08:49:03  4814.0    1030.0  -2245.92  NaN     1.0     Звонки с использованием телефонов, считывающих магнитную ленту  Оплата услуги. Банкоматы СБ РФ  48141030         NaN    NaN
4       39026145.0   11 14:12:08  4814.0    1030.0  -2245.92  NaN     1.0     Звонки с использованием телефонов, считывающих магнитную ленту  Оплата услуги. Банкоматы СБ РФ  48141030         NaN    NaN
...            ...           ...     ...       ...       ...  ...     ...                                                                ...                             ...       ...         ...    ...
999579 NaN           NaN         NaN       NaN      NaN       NaN    NaN      NaN                                                             NaN                             NaN              18     23:38:60
999580 NaN           NaN         NaN       NaN      NaN       NaN    NaN      NaN                                                             NaN                             NaN              206    19:00:10
999581 NaN           NaN         NaN       NaN      NaN       NaN    NaN      NaN                                                             NaN                             NaN              90     22:40:57
999582 NaN           NaN         NaN       NaN      NaN       NaN    NaN      NaN                                                             NaN                             NaN              104    23:39:35
999583 NaN           NaN         NaN       NaN      NaN       NaN    NaN      NaN                                                             NaN                             NaN              105    23:38:49

[1999168 rows x 12 columns]

#### Task 5:
1. Разбейте расходы (отрицательные значения сумм) на 5 бакетов amount_bucket равного объёма (с помощью pd.qcut), разбив все траты на категории 'Very High', 'High', 'Middle', 'Low', 'Very Low'. (\*)
2. Оставшиеся неотрицательные траты отнесите к категории 'Income'.
(воспользуйтесь функцией .cat.add_categories('Income') для того, чтобы добавить новую категорию 'Income' к категориям 'Very High', 'High', 'Middle', 'Low', 'Very Low', а затем заполните пустые значения новой категорией).
3. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
3. После этого постройте сводную таблицу, значениями в которой является пол gender, индексы - tr_hour, столбцы - amount_bucket.
4. Отрисуйте полученные результаты, передав их в функцию plot_pivot_table, расположенную ниже.
5. Выберите верные ответы на вопросы ниже.

#### Вопросы:
    - 1) Ночные поступления денег (01-05 часов) в более чем 85% случаев являются мужскими.
    - 2) Посмотрев на долю мужчин в поступлениях средств (Income), можно сделать вывод, что количество поступлений средств женщинам в целом больше, чем мужчинам.
    - 3) Самые низкие траты в 3 часа ночи осуществляются в более 70% случаев женщинами.
    - 4) Существуют особые часы в мелких тратах, когда женщины тратят намного больше мужчин (>80%)
    - 5) Посмотрев на долю мужчин в максимальных тратах средств (Very High), можно сделать вывод, что количество высоких трат в каждый возможный час мужчин больше, чем у женщин.

##### Пояснения:
(\*) Обратите внимание, что в категории Very High Должны оказаться максимальные по модулю отрицательные транзакции. <br>
(\**) Например, для строки "0 10:23:26" час будет равен 10, а для строки "6 07:08:31"- 07. Можно воспользоваться функциями str.split() или str.find() и 
функцией .apply(lambda x: x[])

In [9]:
def plot_pivot_table(pivot_table):
    plt.figure(figsize=(9, 11))
    sns.heatmap(pivot_table, cmap="YlGnBu", annot=True, 
                fmt='.3g', annot_kws={"size": 14, "fontsize": 14})
    plt.xticks(fontsize=15)
    plt.yticks(rotation=0, fontsize=15)
    plt.xlabel('Bucket', size=18)
    plt.ylabel('Hour', fontsize=18)
    plt.title('Gender analysis per bucket and hour', fontsize=20)
    plt.show()

In [ ]:
otric = transactions[transactions.amount<0].amount
 
transactions['amount_bucket'] = pd.qcut(otric,5,labels=['Very High','High','Middle','Low','Very Low'])
transactions['amount_bucket'] = transactions['amount_bucket'].cat.add_categories('Income').fillna('Income') 
 
hours = transactions['tr_datetime'].apply(lambda x: x.split()[1].split(':')[0])
amount_bucket = transactions['amount_bucket']
amount_bucket = np.array(amount_bucket.values)
gender = transactions['gender']
 
 
data = {'gender' : gender.values,
        'amount_bucket' : amount_bucket}
 
frameNew = pd.DataFrame(data,index=hours.values,columns=['gender'])
frameNew.gender = frameNew.gender.astype(float)
frameNew.index = frameNew.index.astype(float)
 
 
frameNew = frameNew[(frameNew.gender==1.0) | (frameNew.gender==0.0)]

plot_pivot_table(frameNew)

In [ ]:
frameNew

      gender amount_bucket
10.0     1.0      Very Low
7.0      1.0           Low
7.0      1.0      Very Low
8.0      1.0      Very Low
14.0     1.0      Very Low
...      ...           ...
23.0     1.0        Income
23.0     0.0        Income
23.0     0.0        Income
23.0     0.0        Income
23.0     0.0        Income

[600086 rows x 2 columns]

In [ ]:
# Type your code here
otric = frame[frame.amount<0].amount
 
frame['amount_bucket'] = pd.qcut(otric,5,labels=['Very High','High','Middle','Low','Very Low'])
frame['amount_bucket'] = frame['amount_bucket'].cat.add_categories('Income').fillna('Income') 
 
hours = frame['tr_datetime'].apply(lambda x: x.split()[1].split(':')[0])
amount_bucket = frame['amount_bucket']
amount_bucket = np.array(amount_bucket.values)
gender = frame['gender']
 
 
data = {'gender' : gender.values,
        'amount_bucket' : amount_bucket}
 
frameNew = pd.DataFrame(data,index=hours.values,columns=['gender','amount_bucket'])
frameNew .gender = frameNew .gender.astype(float)
frameNew .index = frameNew .index.astype(float)
 
 
frameNew = frameNew [(frameNew .gender==1.0) | (frameNew .gender==0.0)]
 
 
def plot_pivot_table(pivot_table):
    plt.figure(figsize=(9, 11))
    sns.heatmap(pivot_table, cmap="YlGnBu", annot=True, 
                fmt='.3g', annot_kws={"size": 14, "fontsize": 14})
    plt.xticks(fontsize=15)
    plt.yticks(rotation=0, fontsize=15)
    plt.xlabel('Bucket', size=18)
    plt.ylabel('Hour', fontsize=18)
    plt.title('Gender analysis per bucket and hour', fontsize=20)
    plt.show()
 
plot_pivot_table(frameNew)

#### Task 6:
1. Измените тип поля tr_day на int.
2. Выберите из transactions все MCC коды, которые встретились в выборке более чем 60000 раз.
3. Сгруппируйте отфильтрованный датафрейм по дню и MCC-коду, получая средние значения суммы amount.  
4. Далее отрисуйте зависимость средних сумм (может пригодится метод unstack()) по каждому из MCC-кодов по дням.
5. Выберите верные ответы на вопросы ниже.

#### Вопросы:
    - 1) 2 из полученных MCC-кодов связаны с финансовыми институтами
    - 2) 2 MCC кода, связанные со снятием наличности имеют в целом разные знаки (в одном случае почти везде - траты, в другом - пополнения)
    - 3) Бакалейные магазины обладают максимальными средними тратами среди выбранных MCC-кодов
    - 4) Денежные переводы имеют как минимум 3 явных минимума средних
    - 5) Категория "Звонки с использованием телефонов, считывающих магнитную ленту" имеет визуально очень большую дисперсию.

In [ ]:
# Type your code here